<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-500 dark:[&>p>strong]:text-purple-100 [&>p>strong]:font-normal  text-pretty order-2 md:order-1"
  >
    <p>
      Soy Angel Vadir Rojano Islas y <strong> soy Licenciado en Ciencias de la Computación </strong>
      He trabajado con multiples lenguajes de programación desde principios del bachiller, <strong
        >Creando proyectos y implementando soluciones digitales.</strong
      >.
    </p>

    <p>
      A lo largo de mi aprendizaje <strong
        >he trabajado con la Fundación Club Alpha y con el Colegio de Ingenieros Civiles</strong
      >. Teniendo la oportunidad de trabajar en proyectos de desarrollo de software y aprendiendo de muchas otras profesiones.
    </p>

    <p>
      Enfocado en mi superación y aprendizaje, siempre busco nuevos retos y estoy dispuesto a mejorar cada dia en mi profesión.
    </p>
  </div>
</article>
